@import "tailwindcss";

@theme {
  --color-wunari-purple: #6D28D9;
  --color-wunari-dark: #4C1D95;
  --color-wunari-light: #8B5CF6;
}

body {
  @apply bg-slate-100 text-slate-900;
  margin: 0;
  font-family: sans-serif;
}